language: c
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-docker.sh
script: bash -ex .travis-docker.sh
services:
- docker
env:
  global:
  - PINS="thrift:."
  - DISTRO="ubuntu-16.04"
  matrix:
  - PACKAGE="thrift" CAML_VERSION="4.03"
  - PACKAGE="thrift" CAML_VERSION="4.04"
  - PACKAGE="thrift" CAML_VERSION="4.05"
  - PACKAGE="thrift" CAML_VERSION="4.06"
  - PACKAGE="thrift" CAML_VERSION="4.08"
  - PACKAGE="thrift" CAML_VERSION="4.09"
  - PACKAGE="thrift" CAML_VERSION="4.10"
  - PACKAGE="thrift" CAML_VERSION="4.11"
  - PACKAGE="thrift" CAML_VERSION="4.12"
